@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <p>
        Books have the wonderful power to take you to another world and escape daily problems the moment you open them.
        This benefit is perfectly visualized by this series of ads.
        The opened book and the Penguin logo are more than enough to get to the point. Patronise us today and you will be happy doing so.
    </p>
}
